<html>

<head>
  <title>VASIDMI SITE</title>
  {% include 'questions/style-links.html' %}
</head>

<body>
{% csrf_token %}
  {% if user.is_authenticated %} {% include 'questions/header_auth.html' %} {% else %} {% include 'questions/header_not_auth.html' %} {% endif %}
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
        <div>
            <!-- Deletable Contact Chip -->
<button id="new_q_btn" type="button" class="mdl-chip">
    <img class="mdl-chip--contact" src="/new_posts.png"></img>
    <span class="mdl-chip__text"></span>
</button>
            <button id="trend_q_btn" type="button" class="mdl-chip">
    <img class="mdl-chip--contact" src="/hot_posts.png"></img>
    <span class="mdl-chip__text"></span>
</button>
        </div>
          <div>
            <p>
              {% block post %} {% endblock post %}
              <p>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div>
            <p>
              <p>
                Теги: {% include 'questions/site_tags.html' %}
          </div>
          <div>
            <div class="mdl-card__actions mdl-card--border">
              <p>
                <p>
                  Лучшие пользователи: {% include 'questions/best_members.html' %}
            </div>
          </div>
        </div>
  </main>
</body>
{#<script src='/static/js/questions_filter.js'></script>#}
<script src='/js/questions_filter.js'></script>
</html>
