<html>

<head>
  <title>Вход</title>
  {% include 'questions/style-links.html' %}
</head>

<body>
  {% include 'questions/header_not_auth.html' %}
<main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
          <div>
              <div style="margin-top: 20px; margin-left: 20px; width: 500px" class="login-card-wide mdl-card mdl-shadow--6dp">
                  <div class="mdl-card__title mdl-card--border">
                      <h4>Вход</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                      {% include 'questions/forms/django-login-form.html' %}
                  </div>
              </div>
              <p>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div>
            <p>
              <p>
                Теги: {% include 'questions/site_tags.html' %}
          </div>
          <div>
            <div class="mdl-card__actions mdl-card--border">
              <p>
                <p>
                  Лучшие пользователи: {% include 'questions/best_members.html' %}
            </div>
          </div>
        </div>
  </main>
</body>
</html>
