{% include 'questions/style-links.html' %}

<div style="margin-left: 20px; margin-top: 20px; width: 500px" class="mdl-card mdl-shadow--6dp">
  <div class="mdl-card__supporting-text">
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{ form.login }}
    <label class="mdl-textfield__label" for="login_input">Логин...</label>
    </div>
    <p></p>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{ form.email }}
    <label class="mdl-textfield__label" for="login_input">Email...</label>
        <span style="color: #a41515; font-size: small">{{ errors.email }}</span>
    </div>
    <p></p>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{ form.nickname }}
    <label class="mdl-textfield__label" for="login_input">Никнейм...</label>
    </div>
    <p></p>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{ form.password }}
    <label class="mdl-textfield__label" for="login_input">Пароль...</label>
    </div>
    <p></p>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{ form.repeatpassword }}
    <label class="mdl-textfield__label" for="login_input">Повторите пароль...</label>
    </div>
    <p></p>
    <div>
        Аватар: {{ form.avatar }}
    </div>
    <p></p>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Зарегистрироваться
    </button>
          <p></p>
    <span style="color: #a41515;font-size: small">{{ errors.notfield }}</span>
</form>
  </div>
</div>