<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a style="text-decoration: none;color: inherit;" href="/"><span class="mdl-layout-title">VASIDMI ASK SITE</span></a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <button onClick="location.href='/ask'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin-right: 720px">
                    Спросить
                </button>
                <img class="avatar" src="http://icons.iconarchive.com/icons/designbolts/free-male-avatars/128/Male-Avatar-Emo-Haircut-icon.png" alt="avatar" width="50px" />
                <a style="text-decoration: none;color: inherit;" class="mdl-button mdl-js-button mdl-button" href="/settings">Настройки</a>
                <a style="text-decoration: none;color: inherit;" class="mdl-button mdl-js-button mdl-button" href="/login">Выйти</a>
            </nav>
        </div>
    </header>
