<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a style="text-decoration: none;color: inherit;" href="/"><span class="mdl-layout-title">VASIDMI ASK SITE</span></a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <button style="margin-right: 15px" onClick="location.href='/login'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Войти
                    <!-- <a onClick="location.href='/login'" class="mdl-navigation__link" href="">Войти</a> -->
                    <button onClick="location.href='/signup'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Регистрация
                    </button>
            </nav>
        </div>
    </header>
