<style>
.login-card-wide.mdl-card {
    width: 900px;
}

.login-card-wide.mdl-card__title {
    color: #fff;
    height: 176px;
}

.login-card-wide.mdl-card__menu {
    color: #fff;
}
</style>
<main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
                <p></p>
                <div class="login-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h3>Вход</h3>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <!-- Textfield with Floating Label -->
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="login_input">
                                <label class="mdl-textfield__label" for="login_input">Логин...</label>
                            </div>
                        </form>
                        <!-- Textfield with Floating Label -->
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" id="password_input">
                                <label class="mdl-textfield__label" for="password_input">Пароль...</label>
                            </div>
                        </form>
                    </div>
                    <div class="mdl-card__actions">
                        <!-- Accent-colored raised button with ripple -->
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Войти
                        </button>
                        <a class="mdl-button mdl-js-button mdl-button--accent" href="/signup">Создать аккаунт</a>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <div>
                    <p>
                        <p>
                            Теги: {% include 'questions/site_tags.html' %}
                </div>
                <div>
                    <div class="mdl-card__actions mdl-card--border">
                        <p>
                            <p>
                                Лучшие пользователи: {% include 'questions/best_members.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
