<div style="margin-left:20px" class="pagination">
  {% if paginator.number == 1 and paginator.paginator.num_pages == 1 %}{% else %}
  <span class="step-links">
          {% if paginator.has_previous %}
              <a href="?page={{ paginator.previous_page_number }}">Предыдущая</a>
          {% endif %}

          <span class="current">
              Страница {{ paginator.number }} из {{ paginator.paginator.num_pages }}.
          </span> {% if paginator.has_next %}
  <a href="?page={{ paginator.next_page_number }}">Следующая</a> {% endif %}
  </span>
  {% endif %}
</div>
