<ul class="demo-list-item mdl-list">
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
      <span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">T</span>
        <span class="mdl-chip__text">Telegram</span>
        </span>
        </span>
    </li>
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
      <span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">В</span>
        <span class="mdl-chip__text">Вконтакте</span>
        </span>
        </span>
    </li>
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
      <span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">Y</span>
        <span class="mdl-chip__text">Youtube</span>
        </span>
        </span>
    </li>
</ul>
